<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="personDao" class="SM.PersonDaoBean"/>

    <!--以下为set注入-->
    <!--
    <bean id="personServiceBean" class="SM.PersonServiceBean">
        <property name="name" value="张三"/>
        <property name="age" value="33"/>
        <property name="personDao" ref="personDao"/>
    </bean>
    -->

    <!--构造器注入-->
    <!--
    <bean id="personServiceBean" class="SM.PersonServiceBean">
        <constructor-arg index="0" value="李四"/>
        <constructor-arg index="1" value="26"/>
        <constructor-arg index="2" ref="personDao"/>
    </bean>
    -->

    <!--自动扫描-->

    <context:component-scan base-package="SM"/>

</beans>