<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="local" class="Local"/>
    <bean id="foreigner" class="Foreigner"/>
    <bean id="personServiceBean" class="PersonServiceBean">
        <!--每次只可以启动一个，注释掉另一个。-->
        <property name="person" ref="local"/>
        <!-- <property name="person" ref="foreigner"/>-->
    </bean>
</beans>